.modal-active {
  animation: fade .3s ease-in-out .3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background-image: url('../img/close.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: var(-color-mine-shaft);
}

.modal__form {
  width: 390px;
  display: flex;
  flex-direction: column;
}

.form-floating {
  position: relative;
  margin-bottom: 32px;
}

.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 14px;
  padding-top: 5px;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform 0.1s ease-in-out;
  color: var(--color-silver-chalice);
}

.form-floating>.modal__input:focus~label,
.form-floating>.modal__input:not(:placeholder-shown)~label {
  top: -10px;
  transform: scale(0.85) translate(.15rem, -.5rem);
}

.modal__input::placeholder {
  font-size: 0;
}

.modal__input {
  display: block;
  outline: none;
  width: 100%;
  border: none;
  height: 28px;
  border-bottom: 1px solid #C8C5D1;
}

.modal__form button {
  font-size: 14px;
  font-weight: 600;
}

.modal__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  margin: 0 -30px;
  margin-bottom: 25px;
  background-color: #C8C5D1;
}

.modal__btn-contact {
  border: none;
  cursor: pointer;
  display: none;
  position: relative;
  padding-left: 16px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-mine-shaft);
  transition: color .3s ease-in-out;
}

.modal__btn-contact:hover {
  color: var(--color-heliotrope);
}

.modal__label>span {
  color: var(--color-heliotrope);
}

.modal__btn-contact.modal__btn-contact--active {
  display: flex;
}

.btn-contact__svg {
  display: block;
  position: absolute;
  top: 2px;
  left: -5px;
  width: 16px;
  height: 16px;
  /* fill: var(--color-heliotrope); */
}

.btn-contact__svg--hover,
.btn-contact__svg--default {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.btn-contact__svg--hover.btn-contact__svg--active {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.btn-contact__svg--default.btn-contact__svg--active {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.modal__btn-save {
  padding: 12px 35px;
  align-self: center;
  position: relative;
  margin-bottom: 5px;
  color: var(--color-white);
  background-color: var(--color-heliotrope);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.modal__btn-save:hover {
  background-color: var(--color-melrose);
  color: var(--color-white);
}

.modal__btn-back {
  font-weight: 400;
  font-size: 12px;
  align-self: center;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--color-mine-shaft);
  color: var(--color-mine-shaft);
}